.carrosel {
    width : 360px;
    overflow-x:scroll;
    height: 360px;
    background-color: blue;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    height: 250px;
}

.image {
    width: 400px;
}